{% extends 'base.html' %}

{% block content %}
  <div display="flex" justify-content="center" align-items="center">
    <form method="post">
        <div class="form-group">
            <label for="New Campaign">Send Adreq</label>
            <input type="text" name="messages"
                   placeholder="messages" class="form-control"
                   value="{{ request.form['messages'] }}"></input>
        </div>
        <div class="form-group">
            <input type="text" name="id"
                   placeholder="campaign id" class="form-control"
                   value="{{ request.form['id'] }}"></input>
        </div>
        <div class="form-group">
            <input type="text" name="payment amount"
                   placeholder="payment amount" class="form-control"
                   value="{{ request.form['payment amount'] }}"></input>
        </div>
        <div class="form-group" align="center">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </form>
  </div>
{% endblock %}
